[webservers]
web-1   ansible_host=158.160.55.116   fqdn=netology-develop-platform-web-0.ru-central1.internal
web-2   ansible_host=158.160.51.204   fqdn=netology-develop-platform-web-1.ru-central1.internal

[databases]
main   ansible_host=84.252.131.160   fqdn=netology-develop-platform-vm-main.ru-central1.internal
replica   ansible_host=51.250.13.175   fqdn=netology-develop-platform-vm-replica.ru-central1.internal

[storage]
storage   ansible_host=51.250.76.158   fqdn=netology-develop-platform-vm-storage.ru-central1.internal

